/.minix-src
/.idea
*.o
lab2/*.o
lab2/*.txt
lab2/lab2
lab3/*.o
lab3/*.txt
lab3/lab3
lab4/*.o
lab4/*.txt
lab4/lab4
lab5/*.o
lab5/*.txt
lab5/lab5
proj/*.txt
proj/src/*.o
proj/src/proj
proj/src/.gdbinit